<div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex justify-content-start align-items-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at, saepe quaerat adipisci architecto quis veniam ratione, cumque doloribus consequuntur doloremque dolorem quas. Sunt autem repellendus perspiciatis ipsam, dolores nemo!

        </div>
        <div class="col-lg-6">
            <canvas #canvas id="cobe" style="width: 600px; height: 600px;" width="1200" height="1200"></canvas>
        </div>
        
    </div>
</div>

