
<div class="row">
    <div class="col-lg-12">
        <div >
            <h1 class=" d-flex justify-content-center  ">
                <span id="uno" >
                  Develop.
                </span>
                <span id="dos">
                  Preview.
                </span>
                <span id="tres">
                  Ship.
                </span>
              </h1>  
        </div>  
        <div class="text-center pt-4 ">
            <h4 class="text-secundary my-5">FMD  traemos los necesistas, cuando lo necesistas</h4>
            <div class="pt-4">
                <button class="btn btn-portafolio ">Ver Portafolio</button>
            </div>
           
        </div>
    </div>   
</div>     
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6 d-flex justify-content-center align-items-center>">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe maiores et eum temporibus minima, natus praesentium ipsum, maxime incidunt sint tenetur, quisquam similique quia hic. Temporibus saepe ipsam quidem inventore?</div> 
            <div class="col-lg-6"><canvas #canvas id="cobe" style="width: 600px; height: 600px;" width="1200" height="1200"></canvas></div>
        </div>
       
        
    </div>        
</div>
    




