
<div class="row mt-5">
    <div class="col-lg-12">
        <div  >
            <h1 >
                <span id="uno" >
                  Develop.
                </span>
                <span id="dos">
                  Preview.
                </span>
                <span id="tres">
                  Ship.
                </span>
              </h1>  
        
            <div class="text-center pt-4 ">
                <h2 class="text-gray my-5 text-uppercase sub-2">Bienvenido a <span class="fmd">fmd </span><br> traemos los necesistas, cuando lo necesistas!</h2>
                <div class="pt-4">
                    <button class="btn btn-portafolio ">Ver Portafolio</button>
                </div>           
            </div>

            <div class="text-center">                
                <p class="text-gray my-5 text-uppercase sub-3">
                    COMERCIALIZACIÓN DE FLORES HACIA CUALQUIER PARTE DEL MUNDO
                </p>
            </div>

        </div> 
    </div>   
</div>     

<div class="row">
    <div class="col-lg-3">
        <div class="card" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">heloo</div>
    <div class="col-lg-3">hello</div>
    <div class="col-lg-3">helpoo</div>
    

</div>
<div class="row py-4">
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at, saepe quaerat adipisci architecto quis veniam ratione, cumque doloribus consequuntur doloremque dolorem quas. Sunt autem repellendus perspiciatis ipsam, dolores nemo!

    </div>
    <div class="col-lg-6">
        <canvas #canvas id="cobe" style="width: 500px; height: 500px;" width="1000" height="1000"></canvas>
    </div>

</div>
    




