<div class="row p-4">
    <div class="text-center position-til d-flex justify-content-center align-items-center flex-column ">
        <h1 class="titulo">FMD INTERNATIONAL BUSINESS</h1>
        <p class="sub-titulo">{{textos[0]}}</p>
        <img class="img-fluid img-size" src="assets/img/logo-fmd.png" alt="">
    </div>
    <div class="text-center">
        <p class="parrafo">{{textos[1]}}</p>

    </div>
    <div class="text-center pt-5">
        <h3 class="titulo2">{{textos[2]}}</h3>
        <p class="parrafo">{{textos[3]}}</p>

    </div>    
</div>
<div class="bg-2 row my-5  py-4 text-center  " >
    <div class=" pt-5  col-lg-12">
        <h3 class="titulo2">{{textos[4]}}</h3>
        <p class="parrafo">{{textos[5]}}</p>
    </div> 
    <div class="row justify-content-center">
        <div class="col-lg-3 ">
            <div class="person mx-auto">
                <img class="" src="assets/img/person/felipe.jpg" alt="">
            </div>
            <div >
                <h4>FELIPE MADRIGAL</h4>
                <P>president</P>
            </div>        
        </div> 
        <div class="col-lg-3 ">
            <div class="person mx-auto ">
                <img class="" src="assets/img/person/ma.jpg" alt="">
            </div>
            <div >
                <h4>Maritza Martinez Rey</h4>
                <P>General Manager</P>
            </div> 
            
        </div> 
        <div class="col-lg-3 ">
            <div class="person  mx-auto">
                <img class="" src="assets/img/person/user1.jpg" alt="">
            </div>
            <div >
                <h4>Cristian Campos</h4>
                <P>Account executive</P>
            </div>             
        </div>
    </div>
       
</div>

<div class="row py-5 my-5">
    <div class="text-center mx-auto col-lg-4">
        <h4 class="titl-mison" style="background-image:linear-gradient(90deg,#007cf0, #00dfd8)">{{textos[6]}}</h4>
    </div>
    <div class="text-center">
        <p class="parrafo">{{textos[7]}}</p>
    </div>

</div>

<div class="row py-5 my-5">
    <div class="text-center mx-auto col-lg-4">
        <h4 class="titl-mison"style="background-image:linear-gradient(90deg, #7928CA,#FF0080)">{{textos[8]}}</h4>
    </div>
    <div class="text-center">
        <p class="parrafo">{{textos[9]}}</p>
    </div>

</div>