<div class="row p-4">
    <div class="text-center position-til d-flex justify-content-center align-items-center flex-column ">
        <h1 class="titulo">FMD INTERNATIONAL BUSINESS</h1>
        <p class="sub-titulo">TRAEMOS LO QUE NECESITA, CUANDO Y DONDE LO NECESITA!</p>
        <img class="img-fluid img-size" src="assets/img/logo-fmd.png" alt="">
    </div>
    <div class="text-center">
        <p class="parrafo">Somos una comercializadora internacional especializada en el transporte de perecederos alrededor del mundo. Logramos que nuestros productos y servicios sean óptimos gracias a los diversos recursos con que contamos, a una gran cadena de proveedores confiables y a la amplia red logística nacional e internacional que permiten una cobertura global.</p>

    </div>
    <div class="text-center pt-5">
        <h3 class="titulo2">POLÍTICAS DE CALIDAD</h3>
        <p class="parrafo">Se busca el producto de acuerdo con la calidad exigida por el cliente. Se le explica al cliente el servicio que se le va a prestar.
            Tiempo, logística, precio</p>

    </div>    
</div>
<div class="bg-2 row my-5  py-4 text-center  " >
    <div class=" pt-5  col-lg-12">
        <h3 class="titulo2">NUESTRO EQUIPO DE TRABAJO</h3>
        <p class="parrafo">Trabajamos fuertemente para ofrecer un mejor servicio día a día.</p>
    </div>    
    <div class="col-lg-3 ">
        <div class="person mx-auto">
            <img class="" src="assets/img/person/felipe.jpg" alt="">
        </div>
        <div >
            <h4>FELIPE MADRIGAL</h4>
            <P>president</P>
        </div>        
    </div> 
    <div class="col-lg-3 ">
        <div class="person mx-auto ">
            <img class="" src="assets/img/person/ma.jpg" alt="">
        </div>
        <div >
            <h4>FELIPE MADRIGAL</h4>
            <P>president</P>
        </div> 
        
    </div> 
    <div class="col-lg-3 ">
        <div class="person  mx-auto">
            <img class="" src="assets/img/person/felipe.jpg" alt="">
        </div>
        <div >
            <h4>FELIPE MADRIGAL</h4>
            <P>president</P>
        </div> 
        
    </div>
    <div class="col-lg-3 ">
        <div class="person  mx-auto">
            <img class="" src="assets/img/person/ma.jpg" alt="">
        </div>
        <div >
            <h4>FELIPE MADRIGAL</h4>
            <P>president</P>
        </div> 
        
    </div>    
</div>

<div class="row py-5 my-5">
    <div class="text-center mx-auto col-lg-4">
        <h4 class="titl-mison" style="background-image:linear-gradient(90deg,#007cf0, #00dfd8)">NUESTRA MISIÓN</h4>
    </div>
    <div class="text-center">
        <p class="parrafo">Somos una comercializadora internacional especializada en el transporte de perecederos alrededor del mundo. Logramos que nuestros productos y servicios sean óptimos gracias a los diversos recursos con que contamos, a una gran cadena de proveedores confiables y a la amplia red logística nacional e internacional que permiten una cobertura global.</p>
    </div>

</div>

<div class="row py-5 my-5">
    <div class="text-center mx-auto col-lg-4">
        <h4 class="titl-mison"style="background-image:linear-gradient(90deg, #7928CA,#FF0080)">NUESTRA VISIÓN</h4>
    </div>
    <div class="text-center">
        <p class="parrafo">En cinco años seremos una comercializadora internacional integral, con presencia en los diferentes mercados de las Islas del Caribe, especialmente. Alcanzaremos una solidez operativa, comercial y financiera, llegando a recursos superiores a USD 10 millones de dólares, optimizando los recursos de la organización.</p>
    </div>

</div>