<div  class="border-top"style="background-image: url(assets/img/World-Map.svg);">
    <div class="d-flex justify-content-center align-items-center py-5  px-3 bg-footer">
        <div class="row gx-5">
            <div class="col-lg-4 ">
                <div class="bg-blur p-3">
                    COMO LO HACEMOS<br>
                    Compramos los productos que el cliente solicita a nivel internacional.
                    Se busca la logística para entregarle al producto donde el cliente lo necesita.

                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="bg-blur p-3"> INFORMACIÓN DE CONTACTO<br>
                    COLOMBIA <br>
                    <a href="https://www.google.com/maps/place/Cra.+102a+%2325h-45,+Bogot%C3%A1/@4.6885531,-74.1338463,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9ca272100001:0x5f47b0948b1932e0!8m2!3d4.6885478!4d-74.1316576" target="_blank" rel="noopener noreferrer">Carrera 102 A # 25H - 45 - Oficina 311 <br></a> 
                    Bogotá D.C, Colombia <br>
                    <a href="tel:+57(1) 7447610">+57(1) 7447610</a>, <a href="tel:+57 3158589763">+57 3158589763</a> <br>
                    <a href="mailto:sales@fmdtrading.com"> sales@fmdtrading.com <br></a></div>
            </div>
            <div class="col-lg-4">
                <div class="bg-blur p-3"> 
                    INFORMACIÓN DE CONTACTO<br>
                    ESTADOS UNIDOS <br>
                    576 NW 87 Terrace <br>
                    Coral Springs, Florida, EE.UU <br>
                    +1(954) 3407573, +1(954) 7325911, <br>
                    +1(786) 5229182 <br>
                    <a href="mailto:sales@fmdtrading.com"> sales@fmdtrading.com <br></a></div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <p>Created and Developed by <a href="https://www.instagram.com/iamgaboreyesp/" target="_blank"><b>Gabriel Reyes</b></a></p>
    </div>

</div>