.titulo{
  background: var(--text-h2);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 3.75rem;;
}

input{
  border: none;
  padding-left: 10px;
  background-color: transparent;
  padding: 10px 5px;
  outline: none;
  color: #999;  
}

.inputfather{  
  align-items: center;
  font-size: 0.85rem;
  max-width: 90%;
  border-radius: 5px;
  border: 1px solid var(--color-border);
}
.txt-filter{
  color: var(--color-txt);
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.img-flores{
  height: 180px;
  max-height: 180px;
  width: auto;
  position: relative;
}
.card-img-top{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card{
  border: 1px solid  var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-txt);
}
.card:hover{
  border: 1px solid  var(--color-txt);

}
.card-title{
  font-size: 16px;
  font-weight: 700;
}
.img-float{
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: 4px;
  
}
.img-float img{
  width: 100%;
  filter: var(--filter-img);
}
.aside{
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.aside:hover{
  border-radius: 5px;
  border: 1px solid var(--color-border);
  
}

.active{   
  box-shadow: #00DFD8 0px 0px 4px 1px;
}

p.aside{
  margin-bottom: 0.5em;
}
.cate{
  font-size: 12px;
  color: #999;
}
.btn-all{
  border: #00DFD8 1px solid;
  color:var(--color-txt) ;
}
.rta-vacia{
  border:  1px solid var(--color-border);

}
.circulo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:  1px solid var(--color-border);
}
